body {
  background: rgb(245, 242, 238);
  font-family: "Roboto", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  padding-bottom: 50px;
}
h1 {
  font-size: 700;
  text-align: center;
}
h2 {
  font-size: 500;
  text-align: center;
  color: #5b6d93;
}
h3{
  font-size: 300;
  text-align: center;
  color: #5b6d93;
  padding-top:20px;
}
p {
  font-size: 400;
  text-align: center;
  margin: 0 20px;
}
a:active {
  color: #5b6d93;
}
a:hover {
  color: #345cb3;
}
a:link {
  text-decoration: none;
}
ol {
  margin: auto;
}
table {
  border: 2px solid #5b6d93;
  border-collapse: separate;
  border-spacing: 2px;
  font-family: "Roboto", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 400;
  color: black;
  margin: 20px auto;
}
caption {
  padding-bottom: 8px;
}
th,
td {
  border-bottom: 1px solid rgb(160 160 160);
  border-collapse: separate;
  padding: 8px;
}
thead {
  background: #5b6d93;
  border-bottom: 1px solid rgb(160 160 160);
  border-collapse: separate;
  color: aliceblue;
}
tr {
  border-bottom: 1px solid rgb(160 160 160);
  border-collapse: separate;
}

